<!-- Dashboard Container -->
<div class="dashboard-container" *ngIf="!isLoading">
    <!-- Header -->
    <div class="dashboard-header">
      <div class="header-flex">
        <h1 class="welcome-heading">¡Hola! {{nameDisplay}}</h1> 
        <button class="edit-button" (click)="editProfile()">
          <span class="edit-icon"><svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-pencil"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 20h4l10.5 -10.5a2.828 2.828 0 1 0 -4 -4l-10.5 10.5v4" /><path d="M13.5 6.5l4 4" /></svg></span> Editar Perfil
        </button>
      </div>
      
      <div class="subtitle">Aquí puedes ver tu perfil y equipo Pokémon</div>
    </div>
    
    <!-- Main Layout -->
    <div class="dashboard-layout">
      <!-- User Profile Card -->
      <app-trainer-info [trainer]="currentTrainer"></app-trainer-info>
      
      <!-- Pokemon Team Section -->
      <div class="team-section">
        <div class="section-header">
          <h2 class="section-title">Mis Pokémon</h2>
          <button class="edit-button" (click)="editTeam()">
            <span class="edit-icon"><svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-pencil"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 20h4l10.5 -10.5a2.828 2.828 0 1 0 -4 -4l-10.5 10.5v4" /><path d="M13.5 6.5l4 4" /></svg></span> Editar
          </button>
        </div>
        
        <!-- Team Display -->
        <app-team-display 
          [teamPokemons]="teamPokemons"
          [hasError]="hasError"
          [errorMessage]="errorMessage"
        ></app-team-display>
      </div>
    </div>
  </div>
  
  <app-loader *ngIf="isLoading"></app-loader>