<div class="photo-uploader-container">
    <div class="photo-card">
      <div class="upload-label">Imágen perfil</div>
      <div class="photo-area">
        <div class="photo-placeholder" *ngIf="!previewUrl">
          <div class="user-icon">
            <svg  xmlns="http://www.w3.org/2000/svg"   viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-user"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" /><path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" /></svg>
          </div>
        </div>
        <div class="photo-preview" *ngIf="previewUrl">
          <img [src]="previewUrl" alt="Foto de perfil">
          <button type="button" class="remove-btn" (click)="removePhoto()">×</button>
        </div>
      </div>
      
      <div class="upload-btn-wrapper">
        <input #fileInput type="file" accept="image/*" style="display:none" (change)="onFileSelected($event)">
        <button type="button" class="upload-btn" (click)="openFileDialog()">
          <span>{{ fileName || 'Adjunta un foto' }}</span>
          <svg *ngIf="!fileName" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-cloud-upload"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 18a4.6 4.4 0 0 1 0 -9a5 4.5 0 0 1 11 2h1a3.5 3.5 0 0 1 0 7h-1" /><path d="M9 15l3 -3l3 3" /><path d="M12 12l0 9" /></svg>
        <svg *ngIf="fileName" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="red" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-trash"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 7l16 0" /><path d="M10 11l0 6" /><path d="M14 11l0 6" /><path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" /><path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" /></svg>
      </button>
      </div>
    </div>
  </div>